[submodule "Programs/state_machine_timeout_timer_fixed/firmware/Src/st/cmsis_core"]
	path = Programs/state_machine_timeout_timer_fixed/firmware/Src/st/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
[submodule "Programs/state_machine_timeout_timer_fixed/firmware/Src/st/cmsis_device_f4"]
	path = Programs/state_machine_timeout_timer_fixed/firmware/Src/st/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "Programs/state_machine_timeout_timer_fixed/firmware/Src/st/stm32f4xx_hal_driver"]
	path = Programs/state_machine_timeout_timer_fixed/firmware/Src/st/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "Programs/led_loading_control/firmware/Src/st/cmsis_core"]
	path = Programs/led_loading_control/firmware/Src/st/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
[submodule "Programs/led_loading_control/firmware/Src/st/cmsis_device_f4"]
	path = Programs/led_loading_control/firmware/Src/st/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "Programs/led_loading_control/firmware/Src/st/stm32f4xx_hal_driver"]
	path = Programs/led_loading_control/firmware/Src/st/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "Programs/log_lwprintf_stm32/firmware/lib/lwprintf"]
	path = Programs/log_lwprintf_stm32/firmware/lib/lwprintf
	url = https://github.com/alexVOLTS/lwprintf.git
[submodule "Programs/log_lwprintf_stm32/firmware/Src/st/cmsis_core"]
	path = Programs/log_lwprintf_stm32/firmware/Src/st/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
[submodule "Programs/log_lwprintf_stm32/firmware/Src/st/cmsis_device_f4"]
	path = Programs/log_lwprintf_stm32/firmware/Src/st/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "Programs/log_lwprintf_stm32/firmware/Src/st/stm32f4xx_hal_driver"]
	path = Programs/log_lwprintf_stm32/firmware/Src/st/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "Programs/mircroRL_stm32/firmware/lib/microrl-remaster"]
	path = Programs/mircroRL_stm32/firmware/lib/microrl-remaster
	url = https://github.com/dimmykar/microrl-remaster.git
[submodule "Programs/mircroRL_stm32/firmware/lib/lwprintf"]
	path = Programs/mircroRL_stm32/firmware/lib/lwprintf
	url = https://github.com/alexVOLTS/lwprintf.git
[submodule "Programs/mircroRL_stm32/firmware/Src/st/cmsis_core"]
	path = Programs/mircroRL_stm32/firmware/Src/st/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
[submodule "Programs/mircroRL_stm32/firmware/Src/st/cmsis_device_f4"]
	path = Programs/mircroRL_stm32/firmware/Src/st/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "Programs/mircroRL_stm32/firmware/Src/st/stm32f4xx_hal_driver"]
	path = Programs/mircroRL_stm32/firmware/Src/st/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
